/* Fix for accessibility classes */
.sr-only {
  display: none;
}

/* Fix for leaflet-draw controls */
.leaflet-control-container .leaflet-top,
.leaflet-control-container .leaflet-bottom {
  transform: translate3d(0px, 0px, 0px);
}

.leaflet-container {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}
